<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/x-icon" href="favicon-32x32.ico">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - QuickTicket</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/sidebar.css" />

</head>
<body>
    <!--top nav bar-->
    <header>
        <nav class="navbar sticky-top navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark box-shadow">
            <ul class="nav-btn">
                <li><a href="#" class="btn btn-dark text" id="menu-toggle" none>sidebar</a></li>
            </ul>
            <div class="container">
                <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" asp-area="" asp-page="/Index">Quick Ticket</a>
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-page="/Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-page="/TicketList/Index">Tickets</a>
                    </li>
                </ul>
                <input class="form-control form-control-dark w-50" type="text" placeholder="Search" aria-label="Search">
                <ul class="navbar-nav flex-grow-1">
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/Identity/Account/Register">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/Identity/Account/Login">Login</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <div id="wrapper">
        <!-- Side bar-->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li><a href="#" class="pagelinks">Dashboard</a></li>
                <li><a href="#" class="pagelinks">Tickets</a></li>
                <li><a href="#"></a></li>

            </ul>
        </div>

        <!--page content-->
        <div id="page-content-wrapper">
            <div class="content-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <main role="main" class="pb-3">
                            @RenderBody()
                        </main>
                    </div>

                </div>
            </div>
        </div>

        <footer class=" border-top footer text-muted">
            <div class="container-footer">
                &copy; 2021 - QuickTicket - <a asp-area="" asp-page="/Privacy">Privacy</a>
            </div>
        </footer>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <script src="~/js/side-nav.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
